@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitap Dükkanına Hoşgeldin!</h1>
    <p>Kategoriler penceresinden istediğin kategoriyi oluşturabilirsin. Bir kitap eklemek için ise oluşturduğun herhangi bir kategoriye tıklayabilirsin. Ardından kitap eklemek istediğinde seçeneklerde kategorileri görüyor olacaksın.</a>.</p>
</div>
